@font-face {
    font-family: 'W95FA';
    src: url('webfonts/w95fa.woff2') format('woff2'),
    url('webfonts/w95fa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    background: #e4f1fe;
    font-family: W95FA, serif;
    font-size: 10pt;
}
body {
    padding: 0;
    margin: 0;
}
#header {
    height: 35px;
    width: 100%;
    background: silver;
    text-align: center;
}
.menubutton{
    font-family: W95FA, serif;
    cursor: pointer;
    background: silver;
    font-size: 18px;
    height: 95%;
    border: none;
    font-weight: bolder;
    margin: 0;
}
.menubutton:hover{
    background: darkgray;
}
.blockbutton{
    font-family: W95FA, serif;
    color: white;
    border-radius: unset;
    border-color: #2574a9;
    background: #2574a9;
    margin: 1em;
    box-shadow: 0.5em 0.5em 3px rgb(0 0 0 / 50%);
    transition: all .2s ease-in;
}
.blockbutton:hover{
    box-shadow: unset;
    background: #22a7f0;
    transform: translate3d(.25em,.25em,10em);
}
.text-center{
    text-align: center;
}
.window h2{
    text-align: center;
    margin: 0;
}
.window input{
    font-family: W95FA, serif;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3px;
    text-align: center;
}
#username{
    margin-top: 10px;
}
#submit{
    margin-bottom: 10px;
}
.window {
    width: 100%;
    background: #34495e;
    color: #fff;
    border: 6px double #fff;
    box-shadow: 0 0 0 3px #34495e, 1em 1em 3px 0 rgb(0 0 0 /50%);
    max-width: 640px;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}
.window.white{
    width: 100%;
    background: silver;
    color: #000;
    border: 6px double #fff;
    box-shadow: 0 0 0 3px silver, 1em 1em 3px 0 rgb(0 0 0 / 50%);
    max-width: 640px;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}
.dropdown {
    position: relative;
    display: inline-block;
    height: 95%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: silver;
    min-width: 80px;
    z-index: 1;
    padding-bottom: 12px;
    padding-top: 10px;
}
.dropdown-content.aide {
    padding-right: 12px;
}

.dropdown-content a {
    padding: 3px 3px;
    text-decoration: none;
    font-size: 18px;
}
.dropdown-content a:hover {
    background-color: #2574a9;
}
.dropdown.nom:hover .dropdown-content.nom {
    display: block;
}
.dropdown.aide:hover .dropdown-content.aide {
    display: block;
}